<p>
  Choose a difficulty to get started!
</p>
<button type="button" id="easy" class="diff-button btn btn-success"> Easy <br><span class="small-text"> < 5 letters </span></button>
<button type="button" id="medium" class="diff-button btn btn-warning"> Medium <br><span class="small-text"> 5-8 letters </span></button>
<button type="button" id="hard" class="diff-button btn btn-danger"> Hard <br><span class="small-text"> > 8 letters </span></button>
<p id="user-message">
</p>
<p>
  OR
</p>
<p>
  Create/manage your own words for other people to play!
</p>
<button type="button" class="my-words-button btn btn-info"> My Words </button>
