<p>
  Choose a difficulty to get started!
</p>
<button type="button" id="easy" class="diff-button btn btn-success"> Easy <br><span class="small-text"> < 5 letters </span></button>
<button type="button" id="medium" class="diff-button btn btn-warning"> Medium <br><span class="small-text"> 5-7 letters </span></button>
<button type="button" id="hard" class="diff-button btn btn-danger"> Hard <br><span class="small-text"> > 7 letters </span></button>
<p id="user-message">
</p>
