<p>
<small> This is a word scramble game!  You'll be given the option to choose
  between three difficulty choices: </small>
</p>
<ul>
  <li class="description-list"> <span class="bold"> Easy: </span> <small> < 5 Letters </small> </li>
  <li class="description-list"> <span class="bold"> Medium: </span> <small> 5 - 8 Letters </small> </li>
  <li class="description-list"> <span class="bold"> Hard: </span> <small> > 8 Letters </small> </li>
</ul>
<p> <small> You'll have three tries to guess the word! </small> </p>
<p> <small> Please sign up for a new account or login with an existing site to begin! </small> </p>
