<article class="description">
  <h3> Get Started </h3>
  <p> <small> Please sign up for a new account or login with an existing account to begin! </small> </p>
</article>
<article class="description">
  <h3> Game Description </h3>
  <p>
  <small> This is a word scramble game!  You'll be given the option to choose
    between three difficulty tiers: </small>
  </p>
  <ul>
    <li class="description-list"> <span class="bold"> Easy: </span> <small> < 5 Letters </small> </li>
    <li class="description-list"> <span class="bold"> Medium: </span> <small> 5 - 8 Letters </small> </li>
    <li class="description-list"> <span class="bold"> Hard: </span> <small> > 8 Letters </small> </li>
  </ul>
  <p> <small> You'll have three tries to guess the word! </small> </p>
</article>
<article class="description">
  <h3> Create Your Own Words </h3>
  <p><small> You also have the ability to create your own words! You won't be able to play them
  since you'll already know what the word is, but other players will see them! Just click
  on "My Words" when you login. </small></p>
</article>
