<p>
  This is a word scramble game!  You'll be given the option to choose
  between three difficulty choices:
</p>
<ul>
  <li class="description-list"> <span class="bold"> Easy: </span> < 5 Letters</li>
  <li class="description-list"> <span class="bold"> Medium: </span> 5 - 7 Letters</li>
  <li class="description-list"> <span class="bold"> Hard: </span> > 8 Letters</li>
</ul>
<p> You'll have three tries to guess the word! </p>
<p> Please sign up for a new account or login with an existing site to begin! </p>
