<p>
  Sorry, you weren't able to guess the word within 3 tries.  Better luck next time!
</p>
<small>
  Placeholder note to explain how a user can try again (maybe it will automatically grab it next
  time they choose the same difficulty setting?)
</small>
<div class="play-again">
  <button type="button" class="btn btn-default new-difficulty-button">Choose New Difficulty</button>
  <button type="button" class="btn btn-default next-word-button">Next Word</button>
</div>
