<button type="button" class="btn btn-default" data-toggle="modal" data-target="#create-word-modal">
  Create Word
</button>

<!-- START MODALS -->
<!-- START CREATE WORD MODAL -->
<div class="modal fade" id="create-word-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="create-word-modal-label">Create Word</h4>
      </div>
      <div class="modal-body">
        <form class='create-word-form'>
          <div class="form-group">
            <label for="create-word">Word<span class="asterisk">*</span></label>
              <input type="text" name="word" class="form-control" id="create-word" placeholder="Word" required="required">
          </div>
          <div class="modal-footer">
            <p class="modal-success"></p>
            <button type="button" class="btn btn-default reset" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- END SIGN-UP MODAL -->
<!-- END MODALS -->
