// START GENERAL STYLES
body {
  background-color: $neutral;
  font-family: $abel, sans-serif;
  font-size: 1.5em;
}

h1 {
  color: $watermelon;
  font-family: $unica-one;
  font-size: 4em;
  margin-top: -30px;
  // padding-bottom: 30px;
}

div {
  text-align: center;
}
// END GENERAL STYLES

// START GAME STYLES
.description-list {
  list-style-type: none;
}

.bold {
  font-weight: bold;
}

.diff-button {
  margin: 5px;
}

#content {
  font-size: 1.2em;
}

hr {
  border-color: $sky;
  border-radius: 20px;
  border-style: solid;
  border-width: 3px 0 0;
  height: 30px;
}

hr::before {
  border-color: $sky;
  border-radius: 20px;
  border-style: solid;
  border-width: 0 0 3px;
  content: '';
  display: block;
  height: 30px;
  margin-top: -31px;
}

.small-text {
  font-size: .7em;
}

#user-guess {
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 25%;
}

.scrambled {
  background-color: $sky;
  font-size: 2em;
  margin: 0 auto;
  width: 33%;
}

.tries {
  color: $red;
  font-size: 1.3em;
}

.play-again {
  margin-top: 10px;
}
// END GAME STYLES

// START NAVBAR STYLES
.navbar {
  background-color: $carbon;
}

.login-message {
  color: $sky;
  font-weight: bold;
  padding-left: 5px;
}

.new-user {
  color: $sky;
  font-size: .8em;
  padding-right: 5px;
}
// END NAVBAR STYLES

// START MODAL STYLES
.asterisk {
  color: $red;
}

.modal-success {
  color: $green;
}
// END MODAL STYLES
