// START GENERAL STYLES
body {
  background-color: $neutral;
  font-family: $abel sans-serif;
}

h1 {
  color: $watermelon;
  font-family: $unica-one;
}

div {
  text-align: center;
}

li {
  display: none;
}
// END GENERAL STYLES

// START NAVBAR STYLES
.navbar {
  background-color: $carbon;
}
// END NAVBAR STYLES

.new-user {
  color: $sky;
  font-size: .8em;
  padding-right: 5px;
}

.bold {
  font-weight: bold;
}
